.Logo{
    width: 300px;
    margin-left: 15%;
}
.text{
    width: 700px;
    padding-bottom: 30px;
}
.description{
    text-align: center;
    font-size: 50px;
    font-family: 'Work Sans', sans-serif;
}
.status{
    text-align: center;
    font-size: 30px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Work Sans', sans-serif;
}
.Notification{
    color: rgb(54, 54, 54);
    font-style: italic;
    text-align: center;
    font-size: 10px;
}
.Notdead{
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-align: center;
}
				
	@font-face {
				font-family: testFont;*/this sets the font family*/
				src: url(fonts/helpme-owodb.ttf); */This sets the directory of the font file.*/
				}
		